$cell-height: 100px;
$cell-width: 100px;
$days: (
  'calendar--start-day-mon': 0,
  'calendar--start-day-tue': 101px,
  'calendar--start-day-wed': 202px,
  'calendar--start-day-thu': 303px,
  'calendar--start-day-fri': 404px,
  'calendar--start-day-sat': 505px,
  'calendar--start-day-sun': 606px,
);
